@model SaoBei.Models.Mensalidades
@using SaoBei.Models;

@{
    ViewBag.Title = "Mensalidade";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-4">
        <h5>Mensalidades pagas por mês (@DateTime.Now.Year)</h5>
        @Html.Partial("GraficoMensalidadesMes")
    </div>
</div>